source_up .envrc
export GITLAB_USER=argoyle
export CLUSTER_NAME=jocke
export GOPRIVATE=gitlab.com/unboundsoftware/shiny
export AMQP_URL="amqp://user:password@unbound-control-plane.orb.local:5672/"
export API_KEY={{ (index (lastpass "devenv/schemas") 0).note.apiKey -}}
export SCHEMA_REF=Shiny@dev
export COSMO_API_KEY={{ (index (lastpass "devenv/Cosmo") 0).note.apiKey -}}
PATH_add ./bin
PATH_add /opt/homebrew/opt/ruby/bin
