slack = {
  ops          = {{ (index (lastpass "envconfig\\prod/slack") 0).note.ops | trim | quote }}
  gitlab_ci    = {{ (index (lastpass "envconfig\\prod/slack") 0).note.gitlabCi | trim | quote }}
  dancefinder  = {{ (index (lastpass "envconfig\\prod/slack") 0).note.dancefinder | trim | quote }}
  shiny        = {{ (index (lastpass "envconfig\\prod/slack") 0).note.shiny | trim | quote }}
  hifi         = {{ (index (lastpass "envconfig\\prod/slack") 0).note.hifi | trim | quote }}
  eventsourced = {{ (index (lastpass "envconfig\\prod/slack") 0).note.eventsourced | trim | quote }}
  angus        = {{ (index (lastpass "envconfig\\prod/slack") 0).note.angus | trim | quote }}
}
docker_config         = <<EOT
{{ (index (lastpassRaw "envconfig\\prod/dockercfg") 0).note }}
EOT
gitlab_provider_token = {{ (index (lastpass "devenv/.auths") 0).note.gitlabTerraformToken | trim | quote }}
gitlab_cleanup_token  = {{ (index (lastpass "devenv/.auths") 0).note.gitlabCleanupHandlerToken | trim | quote }}
gitlab_runner_token   = {{ (index (lastpass "devenv/.auths") 0).note.gitlabRunnerRegistrationToken | trim | quote }}
grafana_cloud_api_key = {{ (index (lastpass "envconfig\\prod/grafana-cloud") 0).note.terraform | trim | quote }}
