alias gvim="mvim"
alias kcs="kubectl --namespace kube-system"
alias updrepo="gfind . -type d -name .git -printf 'Updating repository %h\n' -execdir git up \;"
alias dirtyrepo="gfind . -type d -name .git -printf '%h: ' -execdir bash -c \"if [[ -z \\\"\\\$(git status --porcelain | tail -n1)\\\" ]]; then echo Clean | color green Clean; else echo Dirty | color red Dirty; fi\" \;"
alias branches="gfind . -type d -name .git -printf 'Repository %h: ' -execdir sh -c \"git branch -l | awk '{\\\$1=\\\$1};1' | sort | paste -d, -s | color red '* [^, ]*' green '* master'\" \;"
alias allbranches="gfind . -type d -name .git -printf 'Repository %h: ' -execdir sh -c \"git branch -a | grep -v origin\/master | awk '{\\\$1=\\\$1};1' | sort | paste -d, -s | color red '* [^, ]*' green '* master'\" \;"
alias stashes="gfind . -type d -name .git -printf 'Repository %h: ' -execdir sh -c \"git stash list | paste -d, -s\" \;"
alias master="gfind . -type d -name .git -printf 'Repository %h:\n' -execdir sh -c \"git checkout master > /dev/null 2>&1\" \;"
alias deploy="/Users/argoyle/Source/CustomerProjects/Adfenix/adfenix-build-tools/deploy"
alias service-setup="/Users/argoyle/Source/CustomerProjects/Adfenix/adfenix-build-tools/service-setup"
alias format-scala="find src -type d -name scala | xargs scalariform -r -p=.scalariform.conf"
alias gup="git up"
alias hpr="hub pull-request"
alias pr="open 'https://github.com/pulls?user=adfenix'"
function ecr  { eval $(aws ecr get-login | sed 's/-e none//g') }
