export GITHUB_TOKEN={{ protonPass "pass://Personal/.auths/GithubToken" | trim }}
export HOMEBREW_GITHUB_API_TOKEN={{ protonPass "pass://Personal/.auths/GithubToken" | trim }}
export GITLAB_TOKEN={{ protonPass "pass://Personal/.auths/GitlabToken" | trim }}
export GITEA_TOKEN={{ protonPass "pass://Personal/.auths/GiteaToken" | trim }}
