{{- $item := protonPassJSON "pass://Personal/.auths" -}}
{{- $note := $item.item.content.note -}}
export GITHUB_TOKEN={{ regexFind "GithubToken:[^\n]*" $note | trimPrefix "GithubToken:" }}
export HOMEBREW_GITHUB_API_TOKEN={{ regexFind "GithubToken:[^\n]*" $note | trimPrefix "GithubToken:" }}
export GITLAB_TOKEN={{ regexFind "GitlabToken:[^\n]*" $note | trimPrefix "GitlabToken:" }}
export GITEA_TOKEN={{ regexFind "GiteaToken:[^\n]*" $note | trimPrefix "GiteaToken:" }}
