export GITHUB_TOKEN={{ includeTemplate "protonPassField" (list "pass://Personal/.auths" "GithubToken") | trim }}
export HOMEBREW_GITHUB_API_TOKEN={{ includeTemplate "protonPassField" (list "pass://Personal/.auths" "GithubToken") | trim }}
export GITLAB_TOKEN={{ includeTemplate "protonPassField" (list "pass://Personal/.auths" "GitlabToken") | trim }}
export GITEA_TOKEN={{ includeTemplate "protonPassField" (list "pass://Personal/.auths" "GiteaToken") | trim }}
