{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Brewfile hash: {{ include "../Brewfile" | quote | sha256sum }}

type brew >/dev/null 2>&1 || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

BREWFILE={{ joinPath .chezmoi.homeDir ".local" "share" "Brewfile" | quote }}

brew bundle cleanup --force --file="$BREWFILE"
brew bundle --file="$BREWFILE"
{{ end -}}
