{{- $item := protonPassJSON "pass://-JICIQ1sSk9CBjR5fYa9cgx-x-6s403YJ7ESM_opYMcOPFvHsh3bep0UUlwJ_APhqiiZ73405ewRTT-W9SElcg==/xEoZgGBRLVTi_mGbOqqhq59JK8PA5VFaHFw5MRi7NZk4koTxnHE8yG956han7j7i4Gc9PAF06Jp9KQ9N9Welsw==" }}
{{- $item.item.content.content.SshKey.public_key }}
