{{- $item := protonPassJSON "pass://gA-ol5KM9A5u56gTKWJXhaSBin2Mtr8R6dM-LkL_mtMITW1sp9--i9p46CZevZtUrtB9Mi9VLpLQ8Y0U-JhNiw==/pvl03z_YGol0Ftd0EH_5d0umer-eapi4pgGA8ohDhTec0rRTm4zKhy9ucIfwfJcVngNOhWkyGZdVgvbR8el7lQ==" }}
{{- $item.item.content.content.SshKey.public_key }}
