{{- $item := protonPassJSON "pass://NtduTg1bifSE9lekT6uuLlwDqVAQmLCXagAf-CTAwEfo3UTVDb9_TEb9UIq38W5cwnUzcIUzinOzqe4SxyOS8Q==/V15Nl6jLVfKYh3CMUVudv7yXVCOl_0YXN7ZAcZm_GTCODIyqjsj3_s5qAWgvL3toEgTjtRo9ziBYxnKIlx37Xg==" }}
{{- $item.item.content.content.SshKey.private_key }}
