{{- $item := protonPassJSON "pass://gA-ol5KM9A5u56gTKWJXhaSBin2Mtr8R6dM-LkL_mtMITW1sp9--i9p46CZevZtUrtB9Mi9VLpLQ8Y0U-JhNiw==/f2xwRThmszdinnC85SkJsnz3ubJtH3gPtNjVS_jbittCfCE804sFsgG-WGv249jyqZxCyFjo82LlsFBQkdjOXw==" }}
{{- $item.item.content.content.SshKey.private_key }}
