{{- $lifeinside := "-JICIQ1sSk9CBjR5fYa9cgx-x-6s403YJ7ESM_opYMcOPFvHsh3bep0UUlwJ_APhqiiZ73405ewRTT-W9SElcg==" -}}
{{- (protonPassJSON (print "pass://" $lifeinside "/c6wThNB_n_0TTuJo0DtdfL9_YNgWjLFO8ncTpFfn1z9K-sS7Qwlz10WHBCz5h5_UVrA2hcLkHriu3db8wJR1cw==")).item.content.note }}
