{{- $goodfeed := "oSOSZ5ACbCbYWPNnpOOuIabjq9fA66_7guFtTo7D5y4ZCBDSbFtNQzAFlamU149oF8E-2DP62LYObxYiMP3QSw==" -}}
{{ (protonPassJSON (print "pass://" $goodfeed "/sP4Ura2KD1GKdSMBknj2hZTS4vRFGhh5_Ky3Haf7JT6TP90xRxRzqgafFzo9BnHtH78-nzd57tgUuqzoEat6Rw==")).item.content.note }}
