tap "buildtool/taps"
tap "datawire/blackbird"
tap "github/gh"
tap "reactiveops/tap"
tap "remind101/formulae"
tap "tinygo-org/tools"
tap "unboundsoftware/taps", "https://gitlab.com/unboundsoftware/homebrew-taps"
tap "updatecli/updatecli"
tap "warrensbox/tap"
brew "act"
brew "adns"
brew "libpng"
brew "libtiff"
brew "webp"
brew "argocd"
brew "autoconf"
brew "automake"
brew "aws-sso-cli"
brew "xz"
brew "gdbm"
brew "readline"
brew "sqlite"
brew "awscli"
brew "bash"
brew "bash-completion"
brew "bash-git-prompt"
brew "boost"
brew "freetype"
brew "glib"
brew "libffi"
brew "pkg-config"
brew "pcre"
brew "ccache"
brew "chezmoi"
brew "cli53"
brew "cmake"
brew "gmp"
brew "coreutils"
brew "cscope"
brew "dasel"
brew "direnv"
brew "dive"
brew "libevent"
brew "libtool"
brew "libtasn1"
brew "nettle"
brew "p11-kit"
brew "gnutls"
brew "lame"
brew "little-cms2"
brew "jpeg", link: true
brew "sdl2"
brew "xvid"
brew "ffmpeg"
brew "findutils"
brew "gawk"
brew "gh"
brew "jbig2dec"
brew "ghostscript"
brew "git"
brew "git-cliff"
brew "git-delta"
brew "git-extras"
brew "git-flow"
brew "git-quick-stats"
brew "gitleaks"
brew "glew"
brew "glow"
brew "gnu-getopt"
brew "gnu-sed"
brew "gnu-tar"
brew "libgcrypt"
brew "libgit2"
brew "libksba"
brew "libusb"
brew "npth"
brew "gnupg"
brew "sdl2_image"
brew "gource"
brew "gradle"
brew "graphviz"
brew "grep"
brew "groff"
brew "gron"
brew "helm"
brew "helm-docs"
brew "hexyl"
brew "html2text"
brew "htmlcleaner"
brew "httpie"
brew "hub"
brew "imagemagick"
brew "jemalloc"
brew "oniguruma"
brew "jq"
brew "kcat"
brew "kind"
brew "kubernetes-cli"
brew "kustomize"
brew "lastpass-cli"
brew "unibilium"
brew "libtermkey"
brew "libuv"
brew "libvterm"
brew "libyaml"
brew "ruby"
brew "macvim"
brew "make"
brew "maven"
brew "maven-completion"
brew "moreutils"
brew "msgpack"
brew "neovim"
brew "netcat"
brew "ninja"
brew "nvm"
brew "openconnect"
brew "openssl@3"
brew "p7zip"
brew "pdftohtml"
brew "perl"
brew "pinentry-mac"
brew "pipx"
brew "png2ico"
brew "postgresql@17", link: true
brew "pre-commit"
brew "psutils"
brew "pulseaudio"
brew "pyenv"
brew "pyenv-virtualenv"
brew "python@3.11"
brew "rbenv"
brew "socat"
brew "ssh-copy-id", link: true
brew "stern"
brew "swagger-codegen"
brew "telnet"
brew "tig"
brew "tmux"
brew "torsocks"
brew "tree"
brew "uchardet"
brew "watch"
brew "watchman"
brew "wget"
brew "yamllint"
brew "yq"
brew "zsh"
brew "zsh-completions"
brew "zsh-history-substring-search"
brew "zsh-syntax-highlighting"
brew "golangci-lint"
brew "assume-role"
brew "warrensbox/tap/tfswitch"
cask "commander-one"
cask "datagrip"
cask "firefox"
cask "font-jetbrains-mono"
cask "ghostty"
cask "gitbutler"
cask "goland"
cask "hammerspoon"
cask "insomnia"
cask "jetbrains-toolbox"
cask "ngrok"
cask "orbstack"
cask "session-manager-plugin"
cask "slack"
cask "temurin"
cask "wezterm"
cask "zen"

{{- if eq .chezmoi.hostname "gwaihir" }}
brew "angband"
brew "azure-cli"
brew "geckodriver"
brew "hugo"
brew "kops"
brew "mysql-client@8.4", link: true
brew "pulumi"
brew "robot-framework"
brew "sbt"
brew "scala"
brew "scalariform"
brew "svtplay-dl"
brew "buildtool/taps/build-tools"
brew "k9s"
brew "polaris"
brew "popeye"
brew "goreleaser"
brew "trivy"
brew "duf"
brew "tinygo-org/tools/tinygo"
brew "updatecli/updatecli/updatecli"
cask "alacritty"
cask "android-studio"
cask "arc"
cask "audacity"
cask "backblaze"
cask "balenaetcher"
cask "chromedriver"
cask "discord"
cask "disk-drill"
cask "drawio"
cask "dropbox"
cask "element"
cask "gimp"
cask "google-chrome"
cask "google-cloud-sdk"
cask "google-drive"
cask "ibackup-viewer"
cask "iina"
cask "inkscape"
cask "intellij-idea"
cask "keybase"
cask "microsoft-auto-update"
cask "microsoft-outlook"
cask "microsoft-teams"
cask "monodraw"
cask "mqtt-explorer"
cask "obsidian"
cask "pycharm"
cask "rubymine"
cask "sigmaos"
cask "sonos"
cask "spotify"
cask "temurin@11"
cask "temurin@17"
cask "tunnelblick"
cask "unboundsoftware/taps/unbound-schemas"
cask "vlc"
cask "webstorm"
cask "wireshark-app"
cask "yed"
cask "zed"
cask "zoom"
{{- end }}

{{- if eq .chezmoi.hostname "A6436902" }}
cask "git-credential-manager"
{{- end }}
