{{- $item := protonPassJSON "pass://Personal/Intersolia" -}}
{{- $note := $item.item.content.note -}}
gh_token = {{ regexFind "InfraGithubToken:[^\n]*" $note | trimPrefix "InfraGithubToken:" | quote }}
