{{- $personal := "gA-ol5KM9A5u56gTKWJXhaSBin2Mtr8R6dM-LkL_mtMITW1sp9--i9p46CZevZtUrtB9Mi9VLpLQ8Y0U-JhNiw==" -}}
{{ (protonPassJSON (print "pass://" $personal "/4ZNEW4W1RFUimMACaTGvEJpf3u0PBtg51xESpDkQ6Zx06QLhssbYcruetxgM-Bmt6jfun7tKgxn2Ua4be3RdgQ==")).item.content.note | b64dec }}
