{{- $item := protonPassJSON "pass://Personal/.auths" -}}
{{- $note := $item.item.content.note -}}
source_up .envrc

export PATH=${PATH}:${PWD}/.bin
export AWS_SSO_CONFIG=${PWD}/.aws-sso/config
export AWS_CONFIG_FILE=${PWD}/.aws/config
export KUBECONFIG=$( IFS=:; set -- ${PWD}/.kube/kind*.yaml ${PWD}/.kube/*.yaml; echo "$*" )
export K8S_RDS_CONFIG=${PWD}/.kube/rds_config
export BUILDKITE_API_TOKEN={{ regexFind "GoodfeedBuildkiteApiToken:[^\n]*" $note | trimPrefix "GoodfeedBuildkiteApiToken:" -}}
export GITHUB_TOKEN={{ regexFind "GoodfeedGithubToken:[^\n]*" $note | trimPrefix "GoodfeedGithubToken:" }}
