{{- $cypress := (protonPassJSON "pass://PaidIT shared/Cypress Normal User").item.content.content.Login -}}
{{- $stage := (protonPassJSON "pass://PaidIT shared/Paidit Stage").item.content.content.Login -}}
source_up .envrc
use nvm
export PORT=3333
export HOST=0.0.0.0
export GRAPHQL_API=http://localhost:4444/query
export CYPRESS_BASE_URL=http://localhost:3333
export CYPRESS_USERNAME={{ $cypress.email | quote }}
export CYPRESS_PASSWORD={{ $cypress.password | quote }}
export CYPRESS_ADMIN_USERNAME={{ $stage.email | quote }}
export CYPRESS_ADMIN_PASSWORD={{ $stage.password | quote }}
