{{- $item := protonPassJSON "pass://Personal/.auths" -}}
{{- $note := $item.item.content.note -}}
source_up .envrc

layout pyenv 3.14.0

export PATH=${PATH}:${PWD}/.bin
export KUBECONFIG=$( IFS=:; set -- ${PWD}/.kube/kind*.yaml ${PWD}/.kube/*.yaml; echo "$*" )

export AWS_SSO_CONFIG=${PWD}/.aws-sso/config
export AWS_CONFIG_FILE=${PWD}/.aws/config

export GITHUB_TOKEN={{ regexFind "IntersoliaGithubToken:[^\n]*" $note | trimPrefix "IntersoliaGithubToken:" }}

export AUTH_JWKS_URI=http://keycloak.localhost/realms/intersolia/protocol/openid-connect/certs
export AUTH_ISSUER=http://keycloak.localhost/realms/intersolia
