{{- $opzkit := "2ZDj49tB1O7JKZXP3WnIP4k-42xQQFGS34i73MXJeRQ_PuHdBqd9aQKJbtbgJLB8mFHO9Ux7_gBvenh5Ex-xNg==" -}}
{{ (protonPassJSON (print "pass://" $opzkit "/XjDLZsJ1DayReONJm4FU9kVbbkmw3urVZSDFuq9PPzceYbyLi7GVyRPBjtjsRQnOOD_j_I9VCkdSSOhCCOZl8w==")).item.content.note }}
