{{- $azure := (protonPassJSON "pass://Sensapp shared/azure-credentials").item.content.note -}}
source_up .envrc

export PATH=${PWD}/.bin:${PATH}
export KUBECONFIG=$( IFS=:; set -- ${PWD}/.kube/kind*.yaml ${PWD}/.kube/*.yaml; echo "$*" )
export AZURE_TENANT_ID={{ regexFind "azureTenantId:[^\n]*" $azure | trimPrefix "azureTenantId:" }}
export AZURE_CLIENT_ID={{ regexFind "azureClientId:[^\n]*" $azure | trimPrefix "azureClientId:" -}}
