{{- $auth0 := (protonPassJSON "pass://Unbound Infrastructure/auth0").item.content.note -}}
{{- $google := (protonPassJSON "pass://Unbound Infrastructure/google").item.content.note -}}
{{- $facebook := (protonPassJSON "pass://Unbound Infrastructure/facebook").item.content.note -}}
auth0 = {
  domain        = {{ regexFind "domain:[^\n]*" $auth0 | trimPrefix "domain:" | trim | quote }}
  client_id     = {{ regexFind "clientId:[^\n]*" $auth0 | trimPrefix "clientId:" | trim | quote }}
  client_secret = {{ regexFind "clientSecret:[^\n]*" $auth0 | trimPrefix "clientSecret:" | trim | quote }}
  google = {
    client_id     = {{ regexFind "clientId:[^\n]*" $google | trimPrefix "clientId:" | trim | quote }}
    client_secret = {{ regexFind "clientSecret:[^\n]*" $google | trimPrefix "clientSecret:" | trim | quote }}
  }
  facebook = {
    client_id     = {{ regexFind "clientId:[^\n]*" $facebook | trimPrefix "clientId:" | trim | quote }}
    client_secret = {{ regexFind "clientSecret:[^\n]*" $facebook | trimPrefix "clientSecret:" | trim | quote }}
  }
}
