{{- $cloudamqp := (protonPassJSON "pass://PaidIT shared/cloudamqp_api_key").item.content.note -}}
{{- $harbourProd := (protonPassJSON "pass://PaidIT shared/prod-harbour").item.content.note -}}
{{- $harbourDemo := (protonPassJSON "pass://PaidIT shared/demo-harbour").item.content.note -}}
{{- $harbourStage := (protonPassJSON "pass://PaidIT shared/stage-harbour").item.content.note -}}
{{- $elks := (protonPassJSON "pass://PaidIT shared/46elks").item.content.content.Login -}}
{{- $firestoreProd := (protonPassJSON "pass://PaidIT shared/prod-firestore").item.content.note -}}
{{- $firestoreDemo := (protonPassJSON "pass://PaidIT shared/demo-firestore").item.content.note -}}
{{- $firestoreStage := (protonPassJSON "pass://PaidIT shared/stage-firestore").item.content.note -}}
{{- $infrasecProd := (protonPassJSON "pass://PaidIT shared/prod-infrasec").item.content -}}
{{- $infrasecDemo := (protonPassJSON "pass://PaidIT shared/demo-infrasec").item.content -}}
{{- $infrasecStage := (protonPassJSON "pass://PaidIT shared/stage-infrasec").item.content -}}
{{- $dockercfg := (protonPassJSON "pass://PaidIT shared/dockercfg").item.content.note -}}
{{- $gitlabToken := (protonPassJSON "pass://PaidIT shared/gitlab_token").item.content.note -}}
cloudamqp_customer_api_key = "{{ $cloudamqp -}}"
mongodbatlas_private_key   = {{ protonPass "pass://PaidIT shared/Mongo Atlas API Project/privateKey" | trim | quote }}
mongodbatlas_public_key    = {{ protonPass "pass://PaidIT shared/Mongo Atlas API Project/publicKey" | trim | quote }}
slack_ops_url              = {{ protonPass "pass://PaidIT shared/slack_webhook_url/ops" | trim | quote }}
docker_config              = <<EOT
{{ $dockercfg }}
EOT
grafana_cloud_api_key      = {{ protonPass "pass://PaidIT shared/grafana-cloud/grafanaApiKey" | trim | quote }}
loki_api_key               = {{ protonPass "pass://PaidIT shared/grafana-cloud/lokiApiKey" | trim | quote }}
prometheus_api_key         = {{ protonPass "pass://PaidIT shared/grafana-cloud/prometheusApiKey" | trim | quote }}
harbour_secret_prod = {
  API_KEY = "{{ $harbourProd -}}"
}
harbour_secret_demo = {
  API_KEY = "{{ $harbourDemo -}}"
}
harbour_secret_stage = {
  API_KEY = "{{ $harbourStage -}}"
}
fortysixelks_password = {{ $elks.password | trim | quote }}
stripe_prod = {
  STRIPE_PUBLIC_KEY = {{ protonPass "pass://PaidIT shared/stripe_prod/clientId" | trim | quote }}
  STRIPE_SECRET_KEY = {{ protonPass "pass://PaidIT shared/stripe_prod/secret" | trim | quote }}
  WEBHOOK_SECRET    = {{ protonPass "pass://PaidIT shared/stripe_prod/webhookSecret" | trim | quote }}
}
stripe_dev = {
  STRIPE_PUBLIC_KEY = {{ protonPass "pass://PaidIT shared/stripe_dev/clientId" | trim | quote }}
  STRIPE_SECRET_KEY = {{ protonPass "pass://PaidIT shared/stripe_dev/secret" | trim | quote }}
  WEBHOOK_SECRET    = {{ protonPass "pass://PaidIT shared/stripe_dev/webhookSecret" | trim | quote }}
}
firestore_prod  = <<EOT
{{ $firestoreProd -}}
EOT
firestore_demo  = <<EOT
{{ $firestoreDemo -}}
EOT
firestore_stage = <<EOT
{{ $firestoreStage -}}
EOT
swedbank_cert_prod = {
  pem   = <<EOT
{{ protonPass "pass://PaidIT shared/prod-swedbank/publicKey" | trim | replace "^^" "\n" -}}
EOT
  key   = <<EOT
{{ protonPass "pass://PaidIT shared/prod-swedbank/privateKey" | trim | replace "^^" "\n" -}}
EOT
  alias = {{ protonPass "pass://PaidIT shared/prod-swedbank/hostname" | trim | quote }}
}
swedbank_cert_demo = {
  pem   = <<EOT
{{ protonPass "pass://PaidIT shared/demo-swedbank/publicKey" | trim | replace "^^" "\n" -}}
EOT
  key   = <<EOT
{{ protonPass "pass://PaidIT shared/demo-swedbank/privateKey" | trim | replace "^^" "\n" -}}
EOT
  alias = {{ protonPass "pass://PaidIT shared/demo-swedbank/hostname" | trim | quote }}
}
swedbank_cert_stage = {
  pem   = <<EOT
{{ protonPass "pass://PaidIT shared/stage-swedbank/publicKey" | trim | replace "^^" "\n" -}}
EOT
  key   = <<EOT
{{ protonPass "pass://PaidIT shared/stage-swedbank/privateKey" | trim | replace "^^" "\n" -}}
EOT
  alias = {{ protonPass "pass://PaidIT shared/stage-swedbank/hostname" | trim | quote }}
}
infrasec_cert_prod = {
  ca         = <<EOT
{{ $infrasecProd.content.SshKey.public_key | replace "^^" "\n" -}}
EOT
  cert       = <<EOT
{{ $infrasecProd.content.SshKey.private_key | replace "^^" "\n" -}}
EOT
  passphrase = {{ range $infrasecProd.extra_fields }}{{ if eq .name "Hostname" }}{{ .content.Text | quote }}{{ break }}{{ end }}{{ end }}
}
infrasec_cert_demo = {
  ca         = <<EOT
{{ $infrasecDemo.content.SshKey.public_key | replace "^^" "\n" -}}
EOT
  cert       = <<EOT
{{ $infrasecDemo.content.SshKey.private_key | replace "^^" "\n" -}}
EOT
  passphrase = {{ range $infrasecDemo.extra_fields }}{{ if eq .name "Hostname" }}{{ .content.Text | quote }}{{ break }}{{ end }}{{ end }}
}
infrasec_cert_stage = {
  ca         = <<EOT
{{ $infrasecStage.content.SshKey.public_key | replace "^^" "\n" -}}
EOT
  cert       = <<EOT
{{ $infrasecStage.content.SshKey.private_key | replace "^^" "\n" -}}
EOT
  passphrase = {{ range $infrasecStage.extra_fields }}{{ if eq .name "Hostname" }}{{ .content.Text | quote }}{{ break }}{{ end }}{{ end }}
}
gitlab_token = {{ $gitlabToken | trim | quote }}
