{{- $personal := "gA-ol5KM9A5u56gTKWJXhaSBin2Mtr8R6dM-LkL_mtMITW1sp9--i9p46CZevZtUrtB9Mi9VLpLQ8Y0U-JhNiw==" -}}
{{- $ngrok := (protonPassJSON (print "pass://" $personal "/z_76LvILqAAgeRkHWGX5A-24Pgn0WujO4REOOzx6CIClu3F7CW2PkCprl1W1sbnabJj41FEM5tUxs2_wOXRCxA==")).item.content.note -}}
authtoken: {{ regexFind "token:[^\n]*" $ngrok | trimPrefix "token:" }}
region: eu
tunnels:
    paidit:
        addr: 80
        proto: http
        subdomain: usd
version: "2"
