{{- $ngrok := (protonPassJSON "pass://Personal/ngrok").item.content.note -}}
authtoken: {{ regexFind "token:[^\n]*" $ngrok | trimPrefix "token:" }}
region: eu
tunnels:
    paidit:
        addr: 80
        proto: http
        subdomain: usd
version: "2"
