source_up .envrc
export AUTH0_CLIENT_ID={{ includeTemplate "protonPassField" (list "pass://Ambix shared/auth0" "Terraform ClientId") | trim }}
export AUTH0_CLIENT_SECRET={{ includeTemplate "protonPassField" (list "pass://Ambix shared/auth0" "Terraform ClientSecret") | trim }}
