source_up .envrc
export AUTH0_CLIENT_ID={{ protonPass "pass://Ambix shared/auth0/Terraform ClientId" | trim }}
export AUTH0_CLIENT_SECRET={{ protonPass "pass://Ambix shared/auth0/Terraform ClientSecret" | trim }}
